.compartment {
    width: 30%;
    height: 40%;
    background: rgb(201, 201, 201);
    display: inline-block;
    margin: .5%;
    position: relative;
    overflow: hidden;
}

.compartment-title {
    text-align: center;
    text-transform: uppercase;
}